 *,
 *::after,
 *::before {
     box-sizing: border-box;
 }
 
 html {
     background: url(/images/bg/bg.jpg);
     ;
     background-repeat: no-repeat;
     background-size: cover;
     scroll-behavior: smooth;
     background-position: center center;
     background-attachment: fixed;
 }
 
 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 li {
     padding-left: 0;
 }
 
 a {
     text-decoration: none;
     color: inherit;
 }
 
 p {
     margin: 0;
 }
 
 body {
     font-family: 'Rubik', sans-serif;
 }
 /* -----------header----------------------- */
 
 .container {
     max-width: 1340px;
     padding: 0 10px;
     margin: 0 auto;
 }
 
 .page__menu {
     display: flex;
     justify-content: space-between;
     padding-top: 48px;
     align-items: center;
     flex-wrap: wrap;
 }
 
 .menu__logo {
     flex: none;
 }
 
 .logo__menu {}
 
 .menu__nav {}
 
 .nav__menu {
     display: flex;
     gap: 50px;
     flex-wrap: wrap;
 }
 
 .nav__link {
     font-weight: 500;
     font-size: 18px;
     line-height: 21px;
     color: #FFFFFF;
 }
 
 .nav__links {
     border-bottom: 2px solid transparent;
     transition: all 0.3s;
 }
 
 .nav__links:hover {
     border-bottom: 3px solid red;
 }
 
 .menu__source {}
 
 .souche__img {}
 
 .box__menu {
     display: flex;
     gap: 50px;
 }
 /* --------------mini----------------- */
 
 .page__header-mini {
     padding-top: 190px;
 }
 
 .mini__title {}
 
 .mini__title-title {
     font-weight: 700;
     font-size: 64px;
     line-height: 67px;
     color: #FFFFFF;
     max-width: 560px;
 }
 
 .mini__text {
     padding-top: 13px;
     padding-bottom: 42px;
 }
 
 .text__item {
     font-weight: 400;
     font-size: 24px;
     line-height: 28px;
     color: #FFFFFF;
     max-width: 527px;
 }
 
 .buttom__mini {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
     max-width: 141px;
 }
 
 .buttom__link {
     background-color: #E30A17;
     box-shadow: 0px 2px 4px #831219;
     padding: 10px 33px;
     font-weight: 500;
     font-size: 18px;
     line-height: 27px;
     color: #FFFFFF;
     flex: none;
     order: 0;
     flex-grow: 0;
     transition: all 0.3s;
 }
 
 .buttom__link:hover {
     /* color: #E30A17; */
     background-color: transparent;
 }
 /* --------------history----------------------- */
 
 .page__history {
     display: flex;
     justify-content: right;
 }
 
 .box__history {
     max-width: 296px;
     background: linear-gradient(90.44deg, rgba(255, 255, 255, 0.5) -3.55%, rgba(255, 255, 255, 0) 120.14%);
     backdrop-filter: blur(23.4074px)
 }
 
 .history__title {
     font-weight: 900;
     font-size: 18.7259px;
     line-height: 22px;
     color: #FFFFFF;
 }
 
 .history__text {
     font-weight: 400;
     font-size: 14px;
     line-height: 17px;
     color: #FFFFFF;
 }
 
 .history__buttom {
     display: flex;
     justify-content: right;
 }
 
 .history__buttoms {
     max-width: 296px;
     background: #E30A17;
     padding-right: 61px;
     padding-left: 153px;
     padding-top: 19px;
     padding-bottom: 19px;
     font-weight: 500;
     font-size: 14.0444px;
     line-height: 17px;
     color: #FFFFFF;
 }
 
 .history__left {}
 
 .pop {
     padding: 24px 35px;
 }
 
 .hamburger {
     display: none;
     flex-direction: column;
     position: fixed;
     right: 54px;
     top: 57px;
     z-index: 2000;
 }
 
 .hamburger span {
     height: 3px;
     width: 30px;
     border-radius: 5px;
     display: block;
     background-color: #000;
     margin-bottom: 5px;
     transition: all 0.4s;
 }
 
 .hamburger.hamburger-active {
     display: flex;
 }
 
 .hamburger span:last-child {
     margin-bottom: 0;
 }
 
 .hamburger.hamburger-active span:first-child {
     transform: rotateZ(45deg) translateY(6px);
 }
 
 .hamburger.hamburger-active span:last-child {
     transform: rotateZ(-45deg) translateY(-5px);
 }
 
 .hamburger.hamburger-active span:nth-child(2) {
     display: none;
 }
 
 .menu__overlay {
     display: block;
     position: fixed;
     left: -100%;
     top: 0;
     height: 100vh;
     width: 100vw;
     background-color: rgba(0, 0, 0, .6);
     z-index: 0;
     transition: all 1s;
 }
 
 .menu__phone {
     width: 40%;
     height: 100vh;
     background-color: rgba(0, 0, 0, .9);
     z-index: 1000;
     padding: 40px;
 }
 
 .menu__phone>ul {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     color: #fff;
 }
 
 @media (max-width: 490px) {
     .mini__title-title {
         font-size: 30px;
     }
     .page__header-mini {
         padding-bottom: 100px;
         padding-top: 50px;
     }
 }
 
 @media (max-width: 768px) {
     .nav__menu {
         display: none;
     }
     .hamburger {
         display: flex;
     }
 }
 
 @media (max-width: 325px) {
     .menu__overlay {
         width: 100%;
         height: 100%;
     }
     .menu__phone {
         width: 50%;
         height: 100%;
     }
 }
 
 .menu__overlay.menu-active {
     /* display: block; */
     left: 0;
 }
